<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://studmysql01.fhict.local/dbi338727</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">dbi338727</property>
        <property name="connection.password">Welkom.01</property>
        <!-- <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property> -->
        <property name="show_sql">true</property>
        <property name="id.new_generator_mappings">false</property>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>